@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&family=Pacifico&display=swap');

body {
  background-color: #F2F2F2;
  font-family: 'Anton',sans-serif;
}
.container {
  display: grid;
  grid-gap: 1.75em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 12em 1fr;
  grid-template-areas: 'nav nav'
    'sd main'
    'sd op'
    'ft ft';
}
nav {
  grid-area: nav;
  display: inline-flex;
  background-color: #870D0D;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 0 10px;
}
.toplinks {
  list-style-type: none;
  display: inline-flex;
}
.toplinks li {
  padding: 5px;
  border: 1px solid white;
  margin-right: 5px;
}
.toplinks a {
  color: white;
}
main {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

.socials {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  align-items: left;
}
.socials a {
  color:black;
  padding: 10px;
}

footer {
  grid-area: ft;
  background-color: #870D0D;
  color: white;
}
h1, h2 {
  text-align: center;
  background-color: #870D0D;
  color: white;
  box-shadow: 2px 4px black;
}

.socials a:hover {
  color: #260401;
  background-color: cadetblue;
}
.toplinks a:hover {
  color: black;
}

/* Responsive Changes */

@media (max-width: 900px) {
 
  .container {
    display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: 'nav'
    'main'
    'ft';
  }

.socials {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}
}