@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&family=Pacifico&display=swap');
@import url(/css/blog.css);
@import url(/css/contact.css);

body {
  background-color: #F2F2F2;
}
.container {
  display: grid;
  grid-gap: 1.75em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 12em 1fr;
  grid-template-areas: 'nav nav'
    'hd hd'
    'sd main'
    'ft ft';
}
nav {
  grid-area: nav;
  display: inline-flex;
  background-color: #870D0D;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 0 10px;
}
.toplinks {
  list-style-type: none;
  display: inline-flex;
}
.toplinks li {
  padding: 5px;
  border: 1px solid white;
  margin-right: 5px;
}


header {
  grid-area: hd;
  background-image: url('https://images.pexels.com/photos/10620134/pexels-photo-10620134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.blogname {
  color: white;
  font-size: 4em;
  text-align: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
.features h2{
  margin: 0 auto;
  font-size: 2em
}

.box {
  display: grid;
  grid-template-columns: 20em 1fr;
  border: 1px solid black;
  height: 300px;
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
}

.one {
  background-color: #2A2A2A;
  color: white;
}
.two {
  background-color: white;
}
.three {
  background-color: #2A2A2A;
  color: white;
}
.four {
  background-color: white;
}
.photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postpic {
  width: 300px;
  height: 300px;
}
.season {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  /*background-color: white;*/
  margin: 0;
}
.postbox p {
  font-size: 1em;
}
figcaption {
  font-weight: bold;
  text-transform: lowercase;
  border: 2px double black;
  max-width: fit-content;
  margin: 0 auto;
}
.firstword {
  font-weight: bold;
  font-size: 1.5rem;
  color:#870D0D;
}
.changecolor {
  color:coral;
  text-decoration: underline;
}
.button {
  background-color: #870D0D;
  color: white;
  width: max-content;
  padding: 1px 4px;
  border-radius: 5px;
}

section {
  grid-area: sd;
  display: flex;
  flex-direction: column;
}
.author {
  text-align: center;
}

.authorpic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

footer {
  grid-area: ft;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25262C;
  color: white;
}
.fab {
  padding: 5px;
  color: #870D0D;
}
.button a:hover {
  color: white;
}
.button a {
  color: #25262C;
}
.toplinks a:hover {
  color: black;
}
.toplinks a {
  color: white;
}
/* Responsive Changes */

@media (max-width: 900px) {
 
  .container {
    display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: 'nav'
    'hd'
    'main'
    'sd'
    'ft';
  }
.box {
  display: grid;
  grid-template-columns: auto;
  height: max-content;
}
}